extends ../../src/pug/essay/index

block var
	- const assetsPath = "../"
	- const pageTitl   = "城中村（下）" + ""
	- const bodyClass  = "essay"
	- const bodyClassModifier = ""

block mainBody
	include article

