article.article(lang="zh-Hans")
	header.article-header
		h1 城中村
		aside
			time(datetime="2013-07-08") 2013-07-08
	
	section.article-body
		p 当我们说起「城中村」时，指向的是一种有限区域内文脉割裂的地域状态。
		p 我想起太古里还叫做「VILLAGE」的时候。这的确是一个名副其实的village——一个城中村。只不过，它恰好反转了一般意义上「城」与「村」的隐喻。
