article.article(lang="zh-Hans")
	header.article-header
		h1(lang="en") Against Standard
		aside
			time(datetime="2013-10-25") 2013-10-25
	
	section.article-body
		p(lang="en") In place of an <cite>Anti-standard Dictionary of Contemporary Chinese</cite>, we need a dissent of <cite>The Standard Dictionary of Contemporary Chinese</cite>.
