article.article(lang="zh-Hans")
	header.article-header
		h1 凝视
		aside
			time(datetime="2021-07-25") 2021-07-25
	
	section.article-body
		blockquote(lang="en")
			p ‘You never look at me from the place at which I see you’ (S11, 103).
		p 「你从来不在我所见你之处看向我。」
		blockquote(lang="en")
			p When the subject looks at an object, the object is always already gazing back at the subject, but from a point at which the subject cannot see it.
		p 当主体看向客体时，客体总是已从某处反向凝视主体——从主体看不见客体之处。
		hr
		p 这组二律背反式的陈述佶屈聱牙。
		p 那么，「主体看不见客体之处」究竟是何处？就是客体所在之处。看，必须拉开距离；反之则不可见。这个距离不是物理意义上的远近关系，而是关于主客体分离的一种隐喻——一种关于我如何凝视我自身的隐喻。
	
	footer.article-footer
		ul.article-endnote
			li(lang="en") Dylan Evans. <cite lang="en">An Introductory Dictionary of Lacanian Psychoanalysis</cite>. Routledge, 1996.
