article.article(lang="zh-Hans")
	header.article-header
		h1 一个生活方式
		aside
			time(datetime="2017-04-21") 2017-04-21
	
	section.article-body
		p 数码环境中的即时通讯工具，展示了其自身的一个惊奇之处：它在语用范畴内，将「交流」一词原本修辞性的外延及比拟，全部实证成了确切内涵。
		p 将即时通讯工具作为一种「交流」工具使用到变态（如字面义），不正是展现了所谓的「一个生活方式」吗？当然了，这是一种变态的生活方式。这种生活方式「一个化」了。
		p 克拉里在二〇一三年说，「睡着的人居于一个共同的世界<a id="fn-mark-1" class="fn-mark" href="#fn-note-1"><sup>*</sup></a>」。即时通讯则可以凭一种商业景观的姿态来陈述：「醒着的人浸入一个共同的生活方式」。将「24/7」用「WeChat」进行替换，也可以复写一部《晚期资本主义与生活归一》。
		p 如果「24/7」是一种关于时间的幻觉，那么「即时通讯」就同时是时间和空间的幻觉——每当再一次注意到它的时候，并非是因它又在「生活」这个时空中占据或延拓了什么，反是生活因它而缺失了什么可能性。
	
	footer.article-footer
		ul.article-footnote
			li(id="fn-note-1")
				a(class="fn-mark" href="#fn-mark-2") <sup>*</sup>
				p 〈分享特权〉（<a href="../2016-04-11/">2016-04-11</a>）
