extends ../../src/pug/essay/index

block var
	- const assetsPath = "../"
	- const pageTitl   = "一个生活方式" + ""
	- const bodyClass  = "essay"
	- const bodyClassModifier = ""

block mainBody
	include article

