article.article(lang="zh-Hans")
	header.article-header
		h1 省略号 . . . 色情学。
		aside
			time(datetime="2014-01-09") 2014-01-09
	
	section.article-body
		p 给标题找个出处<a id="fn-mark-1" class="fn-mark" href="#fn-note-1"><sup>*</sup></a>。
		p 我曾经很喜欢在电子文档里使用句号，我指的是那种连续多个的、不定数量的圆圈句号簇。从能找回的碎片记录来看，大概是在零八零九年间。
		p 在那段时间里，我也将三个连续的period作为ellipsis使用，以一种颇为严肃的态度。当然其时，偶尔撞见了一个或连续两个<code>U+2026</code>，我是弄不太清状况的——字体？输入法？M$ Word？
		p 区分<code>U+2026</code>和<code>U+22EF</code>，是一件超纲的事情。
		figure
			img(src="./fig/ellipsis-and-em-dash.jpg")
		p 有的时候，貌似规范的省略号不足以匹敌情境思绪中的表达欲。如果<code>OTL</code>不够用了，我会打出<code>m(_ _)m</code>。如果省略号不够用了……？那么 … … … …
		p Robert Bringhurst大概会说，我这是不知从哪里沾染来了些维多利亚时代的古怪脾气。
		p <br>* * * 点 点 点 * * *<br><br>
		blockquote(lang="en")
			p An ellipsis is the omission of a word, phrase, line, paragraph, or more from a quoted passage. . . . Chicago style is to indicate such omissions by the use of three spaced periods . . . rather than by another device such as asterisks.
			p — <cite>The Chicago Manual of Style</cite>, 16th ed., 13.48.
		blockquote(lang="en")
			p A period is added <em>before</em> an ellipsis to indicate the omission of the end of a sentence, unless the sentence is deliberately incomplete.
			p — Ibid., 13.51.
	
	footer.article-footer
		ol.article-footnote
			li(id="fn-note-1")
				a(class="fn-mark" href="#fn-mark-1") <sup>*</sup>
				p 〈给艺术色情学的注释〉．<a href="../../2013-08-22/">2013-08-22</a>
