extends ../../src/pug/essay/index

block var
	- const assetsPath = "../"
	- const pageTitl   = "省略号 . . . 色情学。" + ""
	- const bodyClass  = "essay"
	- const bodyClassModifier = ""

block mainBody
	include article

