article.article(lang="zh-Hans")
	header.article-header
		h1 遗像凝视
		aside
			time(datetime="2017-02-12") 2017-02-12
	
	section.article-body
		p 遗像可能是私人肖像照中最为人所凝视的一张。
		p 流传着几种版本的文字，在阐释关于个人生命周期中「死亡」这一事件可能发生的次数。Roland Barthes的那一种是意识流风格的，带一点恋母情结：
		blockquote
			p 历史照片上时间的差异总是被缩小：这已死去，这将死去。这里有两个小姑娘……她们的衣着和我母亲儿时的一样……，真是生机勃勃！她们前程远大，但是也死了（今天），因此，她们已经死了（昨天）。
		p 鉴于大多数的遗像都来自死者生时的日常，由此，遗像同样也给出了另一组关于死亡次数的阐释：就光学现象的而言，该照片描述了一位生者；就历史意义而言，该照片指示了一具亡灵；就影像生成的过程来说，该照片实施了一则断言——未来终将发生的医学意义上的一次死亡。这就是Barthes所谓的照片中的标点（<i lang="la">punctum</i><a id="fn-mark-1" class="fn-mark" href="#fn-note-1"><sup>*</sup></a>）。如此，遗像无疑是一种历史性的照片，区别于新闻照片而言。
		p 不过，作为遗像的照片，也是讣告（新闻）的另一种副本。或许这种二律背反，赋予了遗像引人凝视的特质。
		p 在Barthes的文本中，照片、尤其是历史性的照片，最恰当的欣赏方式是独自观看。而新闻摄影的行为，恰恰是在将被摄者和观影者的私人空间双双公众化。遗像正好处于二者之间，遗像同时承担了历史性的功能与新闻性的功能，可以在令人肃然起敬的同时，得体地招徕注目。
		p 然而，遗像最为人所凝视的地方在于，在某一个死亡事件发生后，它成功地反转了一对主客体关系。自那以后，躯体成为了遗像的拷贝——之一。
	
	footer.article-footer
		ol.article-footnote
			li(id="fn-note-1")
				a(class="fn-mark" href="#fn-mark-1") <sup>*</sup>
				p 赵克非先生将<i lang="la">punctum</i>译作「刺点」。
		
		ul.article-endnote
			li 罗兰·巴尔特（Roland Barthes）．<cite lang="zh">明室：摄影札记</cite>（<cite lang="fr">La chambre claire: Note sur la photographie</cite>, 1980）．赵克非（译）．中国人民大学出版社，2011年．
