article.article(lang="zh-Hans")
	header.article-header
		h1 原始的游戏
		aside
			time(datetime="2013-08-07") 2013-08-07
	
	section.article-body
		p 游戏设计逐渐形成的风格中存在这样一支：将其作为文学、尤其是叙事文学的载体；继而不断弱化故事的叙事性，转向抒情。内容负担起本属于形式的功能，内容转化向形式，内容成为形式技巧的一部分。
		hr
		p 游戏——Game的直译——本应含有的几项古老特质似乎在日渐消逝。
		p 其一为身体。关于身体的竞技活动，关于身体机能的协调性、耐久度、专注力的比拼。这种身体性并不局限于欧洲的竞技传统，远东地区最为风雅的棋牌对弈中同样存在。诸如万历年间《列仙全传》里「王质烂柯」所暗示的漫长对局，再如江户时期基于《百人一首》的「歌留多」所要求的敏捷身手。
		p 其一为损耗。此中首先也含有身体层面的殚损；继而是物料的流失或汰换。而财产的损失风险又是另一类古老游戏所共有的属性，这便是形式繁多的赌博游戏之魅惑力所在。
		p 其一为无意义性。无意义所隐喻的道德层面的自由，令游戏有可能成为艺术的表达媒介，也曾使游戏在某种意义上被等同作艺术。
		p 这样说来，S.M.T.H. (Send Me To Heaven)是难得一见的游戏。至少它的规则及道具实体同时触及了游戏的多个原始属性——这一点，完全可以抛开对设计初衷的追溯，而藉由简单的操作说明来读出。
		figure
			img(src="./fig/smth.jpg" alt="S.M.T.H")
		p S.M.T.H. 也显然是一款乏味且略显低智的游戏，这样说来，它过于低能耗了。低能耗未必总是夸赞的形容，比如放到减肥体操的语境里看。
		p 相较于打弹珠一类基于物物交换的零和规则，S.M.T.H.更像是古希腊或古罗马传统的竞技游戏。有别于电子游戏惯常使用的虚拟货币，它以一种荒诞的手法将财产风险转移到了实体的游戏道具之上。这种风险的昂贵程度，必然不亚于曾经孩子手中的玻璃弹珠和彩色洋片，但，也并不超出更多。这就是S.M.T.H.可爱的地方。
		p 这样说来，S.M.T.H.是难得一见的好游戏。
