article.article(lang="zh-Hans")
	header.article-header
		h1 遗像驯化
		aside
			time(datetime="2017-02-12") 2017-02-12
	
	section.article-body
		p 摄影术藉其诞生之初的技术原理，为Roland Barthes制造出了「疯狂的影像」。照片可以令观者得以同时达成两种认同：「这个不在那里了」，「但这个确实存在过」；后者也即Barthes所谓摄影的真谛。
		p 摄影的发展史是社会对摄影的驯化史——将摄影变为艺术的一种，并令其普及到泛滥。只不过，Barthes一九七九年春天在理发馆和牙科医生那里翻过的杂志，变成了今日的Instagram和微信朋友圈。首先，「摄影的真谛被遗忘」，然后，摄影开始成为艺术。
		p 然而，「没有哪种艺术是疯狂的」。（或许艺术渴望疯狂<a id="fn-mark-1" class="fn-mark" href="#fn-note-1"><sup>*</sup></a>。）
		p 在Barthes的文本中，明室（<i lang="la">camera lucida</i>）才是对照片观看体验最恰当的转喻。通过一种明室式的装置，遗像凝视<a id="fn-mark-2" class="fn-mark" href="#fn-note-2"><sup>⁑</sup></a>得以达成。
		p 然后，数码暗房和手机自拍将遗像驯化。
	
	footer.article-footer
		ol.article-footnote
			li(id="fn-note-1")
				a(class="fn-mark" href="#fn-mark-1") <sup>*</sup>
				p 〈把艺术罹患为精神疾病〉．<a href="../../2017-02-03/">2017-02-03</a>
			li(id="fn-note-2")
				a(class="fn-mark" href="#fn-mark-2") <sup>⁑</sup>
				p 〈遗像凝视〉．<a href="../../2017-02-12/gaze/">2017-02-12/gaze</a>
		
		ul.article-endnote
			li 罗兰·巴尔特（Roland Barthes）．<cite lang="zh">明室：摄影札记</cite>（<cite lang="fr">La chambre claire: Note sur la photographie</cite>, 1980）．赵克非（译）．中国人民大学出版社，2011年．
