article.article(lang="zh-Hans")
	header.article-header
		h1 绘文字之死
		aside
			time(datetime="2017-04-07") 2017-04-07
	
	section.article-body
		p 假设性别是可以区分的。绘文字在性别区分议题上最吊诡的一点，正是——绘文字试图区分性别。
		p 以狭义的图示在「性别」这一概念领域内做类型学的工作，恰好引发了性别议题内的自相矛盾。绘文字已然可以区分发型、服饰乃至脸面身段，却始终未能触及性别的本质。正如，绘文字有可能区分肤色，却再无可能区分种族。
		p 罗兰·巴尔特一定会迷恋上绘文字。这个由小小图示所构成的符号集合，无可封闭，能指先于所指——正如巴尔特在《符号帝国》中所钟情的其他「日本式的」符号一样，绘文字的内涵最终指向空无。
		p 绘文字是巴尔特「读者文本」的一个范例；操绘文字的作者，甚至主动自杀（刻意误用）。
		p 然而存在一种彻底政治性的需要，要求「绘文字」区分性别。于是，「绘文字」必须首先进入辞典、成为概念，然后绘出图示。绘文字被杀死，Emoji诞生。
