article.article(lang="zh-Hans")
	header.article-header
		h1 相片的标点
		aside
			time(datetime="2020-02-11") 2021-02-11
	
	section.article-body
		p 罗兰·巴尔特的<i lang="la">punctum</i><a id="fn-mark-1" class="fn-mark" href="#fn-note-1"><sup>*</sup></a>的确就该被转写作「标点」。生造的「刺点」显得累赘；「标」本就包含了——或至少也可等同——「刺」的意涵。而<i lang="la">punctum</i>在语法范畴内的标点（符号）含义，应被理解作、或至少应被译作「句读」。
		p 通过重新调配这一系列书写记号的位置，「标点」回到了与<i lang="la">punctum</i>在拉丁语中相类似的语义。标点同时意指了「点」「标」，及其转喻式的「句读」含义——后者犹为关键。
		p 通过标点，或说通过语法意义上的句读，一组象征性符号——声音、文本、图像——所承载的信息，才被回溯性地阐明了意义（这也接近雅克·拉康意义上的<i lang="fr">punctuation</i>）。在《明室》里，这组符号就是相片：
		blockquote
			p 摄影是难以归类的，因为没有任何理由为摄影所遇到的这种或那种偶然情况作出<strong>标记</strong>；摄影可能也很想使自己变得像符号一样［……］；可是，要想有符号，就必须有<strong>标记</strong>，摄影缺少标记的要素，便成了一些不能久存的符号，［……］不管照片给你看的是什么，也不管它以什么样的方式给你看，照片永远都是不可见的：我们看到的不是照片。［《明室》，赵克非（译），2011．］
	
	footer.article-footer
		ol.article-footnote
			li(id="fn-note-1")
				a(class="fn-mark" href="#fn-mark-1") <sup>*</sup>
				p 〈遗像凝视〉，<a href="../2017-02-12/gaze/">2017-02-12</a>
		