.index main {
	position: relative;
	width   : 100%;
	height  : 100%;
}

// Layout for mordern UAs without IE 11
html:not(.ua-Trident) {
.index-wrap {
	position                  : relative;
	overflow-x                : scroll;
	overflow-y                : hidden;
	-webkit-overflow-scrolling: touch;
	width                     : 100%;
	height                    : 100%;
	min-height                : 360px;
	padding-left              : 120px;
	padding-right             : 120px;
	box-sizing                : border-box;
}

.index-list {
	position : relative;
	top      : 50%;
	transform: translateY(-50%);
	display  : inline-flex;
}

.index-item {
	position    : relative;
	height      : 240px;
	margin-right: (28px + 18);
	writing-mode: vertical-rl;
	transform   : translate3d(0, 0, 0);
	transition  : transform .25s ease-out;
	
	&:last-of-type {
		margin-right: 0;
	}
	
	time {
		position             : absolute;
		top                  : 0;
		right                : 0;
		height               : 6em;
		// color                : @text-dark;
		font-family          : @font-serif-body;
		font-size            : 12px;
		font-feature-settings: "onum";
		transform-origin     : top;
		transform            : translate(-28px, -24px) rotateZ(-120deg);
		opacity              : .35;
		transition           : transform .35s ease .25s;
	}

	h3 {
		display       : inline-block;
		font-family   : @font-song-body;
		// font-family   : @font-serif-body;
		font-size     : 18px;
		font-weight   : 400;
		letter-spacing: (1em/6);
		line-height   : 26px;
		hyphens       : none;

		&:not(:lang(zh)),
		:not(:lang(zh)) {
			font-family             : @font-serif-body;
			// font-feature-settings: "smcp";
			letter-spacing          : 0.05em;
			word-spacing            : 0.125em;
		}
	}
}
.index-item.is-loading {
	transform: translate3d(0, 100vh, 0);
	
	time {
		transform: translate(-4px, -72px) rotateZ(0deg);
	}
	h3 {
		font-family: @font-serif-body;
	}
}
}

// Layout for IE 11
html.ua-Trident {
	.index-list {
		width  : 420px;
		padding: 40vh 1em 40vh 90px;
		margin : 0 auto;
	}
	
	.index-item {
		position     : relative;
		margin-bottom: 26px;

		&:last-of-type {
			margin-bottom: 0;
		}

		time {
			position             : absolute;
			top                  : 6px;
			left                 : -90px;
			width                : 6em;
			font-family          : @font-serif-body;
			font-size            : 12px;
			font-feature-settings: "onum";
			text-align           : right;
			opacity              : .35;
		}

		h3 {
			font-family   : @font-song-body;
			font-size     : 18px;
			font-weight   : 400;
			letter-spacing: (1em/6);
			line-height   : 26px;
			hyphens       : none;

			&:not(:lang(zh)),
			:not(:lang(zh)) {
				font-family             : @font-serif-body;
				letter-spacing          : 0.05em;
				word-spacing            : 0.125em;
			}
		}
	}
}

.index-footer {
	position      : fixed;
	left          : 0;
	right         : 0;
	bottom        : 0;
	bottom        : calc(constant(safe-area-inset-bottom)/2);
	bottom        : calc(env(safe-area-inset-bottom)/2);
	display       : flex;
	padding-left  : 24px;
	padding-bottom: 24px;
	pointer-events: none;
}
.index-footer-item {
	position             : relative;
	display              : block;
	width                : 6px;
	height               : 6px;
	border               : 9px solid transparent;
	background-color     : @text-dark;
	background-clip      : content-box;
	pointer-events       : auto;
	-webkit-touch-callout: none;
}
.index-footer-item-detail {
	position        : absolute;
	z-index         : @zIndex-1;
	left            : 8px;
	top             : 50%;
	padding-left    : .5em;
	padding-right   : .5em;
	border-radius   : 3px;
	background-color: @text-dark;
	color           : @text-white;
	font-family     : @font-sans-body;
	font-size       : 12px;
	line-height     : 24px;
	white-space     : nowrap;
	opacity         : 0;
	pointer-events  : none;
	user-select     : none;
	transform       : translateY(-50%);
	transition      :
		opacity   .15s ease,
		transform .25s ease;
	will-change:
		opacity,
		transform;

	.ua-Pointer .index-footer-item:hover &,
	.index-footer-item:active & {
		opacity  : 1;
		transform: translateY(-50%) translateX(12px);
		transition:
			opacity   .25s ease,
			transform .25s ease;
	}

	&::before {
		content         : "";
		position        : absolute;
		top             : 50%;
		left            : -3px;
		z-index         : -100;
		display         : inline-block;
		width           : 8px;
		height          : 8px;
		background-color: @text-dark;
		transform       : translateY(-50%) rotateZ(45deg);
	}
}
