footer.index-footer
	a.index-footer-item(href="https://laerhsif.com")
		p.index-footer-item-detail Copyright © 2019 鱼缸. All rights reserved.
	a.index-footer-item(href="https://hanzi.pro")
		p.index-footer-item-detail Microtypography based on 漢字標準格式.
	a.index-footer-item(href=`${assetsPath}feed/rss.xml`)
		p.index-footer-item-detail RSS
