/**
 * Color palette
 */

@bg-main:     hsl(0, 0%, 100%);
@bg-sub:      #f2f2f2;
@bg-black:    hsl(0, 0%, 0%);

@text-main:   hsl(0, 0%, 20%);
@text-dark:   hsl(0, 0%, 15%);
@text-light:  hsl(0, 0%, 50%);
@text-white:  hsl(0, 0%, 100%);

@yellow-main: #ffe050;

@theme: @yellow-main;




/**
 * Border preset
 */

@thinline: 1px solid fadeout(@text-main, 85%);



/**
 * Font
 */

/*====== Chinese punctuation optimization ======*/
@font-face {
	font-family: "Punct Song Body";
	font-weight: 400;
	src: local("PingFang SC"), local("PingFang SC Regular"), local("Hiragino Sans GB"), local("Hiragino Sans GB W3"), local("Heiti SC"), local("Heiti SC Light"), local("Microsoft YaHei UI"), local("Microsoft YaHei"), local("SimSun");
	unicode-range: U+002F, U+2014, U+00B7, U+2026, U+201C, U+201D;
	/*
		solidus,
		em dash,
		middle dot,
		ellipsis,
		left double quotes,
		right doubel quotes
	*/
}
@font-face {
	font-family: "Punct Song Head";
	font-weight: 600;
	src: local("PingFang SC"), local("PingFang SC Regular"), local("Hiragino Sans GB"), local("Hiragino Sans GB W3"), local("Heiti SC"), local("Heiti SC Light"), local("Microsoft YaHei UI"), local("Microsoft YaHei"), local("SimSun");
	unicode-range: U+002F, U+2014, U+00B7, U+2026, U+201C, U+201D;
	/*
		solidus,
		em dash,
		middle dot,
		ellipsis,
		left double quotes,
		right doubel quotes
	*/
}
@font-face {
	font-family: "Punct Hei Body";
	font-weight: 400;
	src: local("PingFang SC"), local("PingFang SC Regular"), local("Hiragino Sans GB"), local("Hiragino Sans GB W3"), local("Heiti SC"), local("Heiti SC Light"), local("Microsoft YaHei UI"), local("Microsoft YaHei"), local("SimSun");
	unicode-range: U+002F, U+2014, U+00B7, U+2026, U+201C, U+201D;
	/*
		solidus,
		em dash,
		middle dot,
		ellipsis,
		left double quotes,
		right doubel quotes
	*/
}
/*====== Chinese punctuation optimization END ======*/

@font-fallback-sans     : -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Arial;
@font-fallback-hei      : "PingFang SC", "Microsoft YaHei UI", "Microsoft YaHei";
@font-fallback-serif    : Athelas, "Sitka Text", Times, "Times New Roman";
@font-fallback-song     : "Songti SC", NSimSun, SimSun;
@font-fallback-song-head: "Songti SC", "STSongti-SC-Black", NSimSun, SimSun;
@font-fallback-kai      : "Kaiti SC", KaiTi;

@font-sans-body : myriad-pro, @font-fallback-sans, sans-serif;
@font-serif-body: minion-pro, @font-fallback-serif, serif;

@font-hei-body : "Punct Hei Body", myriad-pro, @font-fallback-sans, source-han-sans-simplified-c, @font-fallback-hei, sans-serif;
@font-song-body: "Punct Song Body", minion-pro, @font-fallback-serif, source-han-serif-sc, @font-fallback-song, serif;
@font-song-head: "Punct Song Head", minion-pro-subhead, @font-fallback-serif, source-han-serif-sc, @font-fallback-song-head, serif;
@font-kai-body : "Punct Song Head", minion-pro, @font-fallback-serif, adobe-kaiti-std, @font-fallback-kai, serif;

@font-code: fira-mono, Consolas, Menlo, monospace;

/**
 * Z-index
 */

@zIndex-0: 0;
@zIndex-1: 100;
@zIndex-2: 200;
@zIndex-3: 300;
@zIndex-4: 400;
@zIndex-5: 500;
@zIndex-6: 600;
@zIndex-7: 700;
@zIndex-8: 800;
@zIndex-9: 900;
