.article {
	position      : relative;
	min-width     : 1088px;
	padding-top   : 120px;
	padding-bottom: 120px;
	font-size     : 18px;
	
	@media screen and (max-width: 896px) {
		min-width: unset;
	}
	@media screen and (max-width: 480px) {
		min-width     : 320px;
		padding-top   : 60px;
		padding-bottom: 90px;
		font-size     : 16px;
	}
	
	cite:lang(zh) {
		font-style   : normal;
		border-bottom: 1px solid currentColor;
	}
	u:lang(zh),
	u:lang(jp) {
		text-decoration: none;
		border-bottom  : 1px solid currentColor;
	}
	a.url {
		font-size : 12px;
		word-break: break-all;
		hyphens   : none;
		opacity   : .5;
	}
}

.article-header {
	position     : relative;
	width        : 32em;
	padding-left : (80px + 72);
	padding-right: (288px + 72);
	margin-left  : auto;
	margin-right : auto;
	color        : @text-dark;
	font-family  : @font-song-head;
	
	h1 {
		font-size     : 32px;
		font-weight   : 600;
		line-height   : 40px;
		letter-spacing: 2px;
		
		&:not(:lang(zh)),
		:not(:lang(zh)) {
			font-family   : @font-serif-head;
			letter-spacing: 0.05em;
			word-spacing  : 0.125em;
		}
	}

	aside {
		position             : absolute;
		top                  : 6px;
		left                 : 0;
		width                : 80px;
		font-family          : @font-serif-body;
		font-size            : 12px;
		font-feature-settings: 'onum';
		text-align           : right;
	}
	
	@media screen and (max-width: 896px) {
		padding-left : 0;
		padding-right: 0;
		text-align   : center;

		aside {
			position  : static;
			top       : unset;
			left      : unset;
			width     : auto;
			margin-top: 1em;
			text-align: center;
		}
	}
	@media screen and (max-width: 640px) {
		width: 24em;
	}
	@media screen and (max-width: 480px) {
		width: 22em;
		
		h1 {
			font-size  : 24px;
			line-height: 32px;
		}
	}
	@media screen and (max-width: 400px) {
		width: 20em;
	}
}

@font-asterisk: "Helvetica Neue", Helvetica, "Arial Unicode MS ", sans-serif;
.font-asterisk() {
	font-family: @font-asterisk;
	font-weight: 400;
	font-size  : 16px;
	font-style : normal;
}

.article-body {
	// position: relative;
	margin-top : 120px;
	font-family: @font-song-body;
	text-align : justify;
	line-height: 32px;
	
	&::after {
		content      : '❦';
		display      : block;
		width        : 576px;
		padding-left : (80px + 72);
		padding-right: (288px + 72);
		margin-top   : 60px;
		margin-left  : auto;
		margin-right : auto;
		font-family  : "Zapf Dingbats", sans-serif;
		font-size    : 32px;
		cursor       : pointer;
	}
	
	p,
	ul {
		width        : 32em;
		padding-left : (80px + 72);
		padding-right: (288px + 72);
		margin-top   : 1em;
		margin-left  : auto;
		margin-right : auto;
	}
	p:not(:lang(zh)),
	ul:not(:lang(zh)) {
		font-family: @font-serif-body;
		line-height: 1.3;
		text-align : left;
		hyphens    : none;
	}
	
	ul li {
		position     : relative;
		margin-left  : 2em;
		margin-top   : 0.5em;

		&::before {
			content   : "•";
			position  : absolute;
			left      : -1.5em;
			top       : -2px;
			width     : 1em;
			text-align: right;
		}
	}
	ul li:not(:lang(zh))::before {
		top: -1px;
	}
	
	blockquote + blockquote {
		margin-top: (32px + 18);
	}
	blockquote p {
		width        : 28em;
		padding-left : (80px + 72 + 18*2);
		padding-right: (288px + 72 + 18*2);
		font-family  : @font-kai-body, serif;
	}
	blockquote p:not(:lang(zh)) {
		font-style: italic;
		
		i,
		em,
		cite {
			font-style: normal;
		}
	}
	
	h3 {
		width         : 576px;
		padding-left  : (80px + 72);
		padding-right : (288px + 72);
		margin-top    : 32px;
		margin-left   : auto;
		margin-right  : auto;
		font-family   : @font-song-head;
		font-size     : 20px;
		font-weight   : 600;
		letter-spacing: 1px;
	}
	
	hr {
		position     : relative;
		width        : 576px;
		height       : 1em;
		padding-left : (80px + 72);
		padding-right: (288px + 72);
		margin-top   : (32px);
		margin-bottom: (32px);
		margin-left  : auto;
		margin-right : auto;
		border       : 0;
		font-size    : 24px;
		opacity      : .5;
		
		&::after {
			content    : "* * *";
			position   : absolute;
			top        : 0;
			left       : (80px + 72);
			font-family: @font-sans-body;
			line-height: 1;
		}
	}
	
	strong {
		font-family: @font-hei-body;
		font-weight: 500;
	}
	em:lang(zh) {
		font-family: @font-hei-body;
		font-weight: 400;
		font-style : normal;
	}
	code {
		font-family: @font-code;
		// font-size  : 0.9em;
		font-size  : 17px;
	}
	a.url {
		text-decoration      : underline;
		text-decoration-style: dotted;
	}
	
	a,
	cite,
	em,
	span,
	u {
		&:not(:lang(zh)):not(:lang(jp)) {
			font-family: @font-serif-body;
		}
	}
	
	.fn-mark {
		padding-left         : 2px;
		padding-right        : 2px;
		-webkit-touch-callout: none;
	}
	.fn-mark sup {
		.font-asterisk();
		position: relative;
		
		&::before {
			content    : "";
			position   : absolute;
			top        : 50%;
			left       : 50%;
			transform  : translate(-50%, -50%);
			width      : 32px;
			height     : 32px;
			user-select: none;
		}
		
	}
	
	figure {
		position: relative;
		margin-top: 32px;
		margin-bottom: 32px;
	}
	img {
		// width = (100% - (columnWidth + leftPad + rightPad))/2 + columnWidth + leftPad
		//       = 50% + columnWidth/2 + leftPad/2 - rightPad/2
		display: block;
		width  : calc(50% + 184px);
	}
	figcaption {
		margin-top   : 16px;
		margin-bottom: 32px;
		margin-left  : 48px;
		color        : @text-light;
	}
	figcaption p {
		font-size  : 14px;
		line-height: 22px;
		padding    : 0;
		margin-left: 0;
	}
	
	ruby > rt {
		font-family: @font-hei-body;
		font-size: 10px;
		
		a.url {
			font-size: inherit;
		}
	}
	
	@media screen and (max-width: 896px) {
		&::after {
			padding-left : 0;
			padding-right: 0;
			text-align   : center;
		}
		p,
		ul {
			padding-left : 0;
			padding-right: 0;
		}
		blockquote p {
			padding-left : 2em;
			padding-right: 2em;
		}
		h3 {
			padding-left : 0;
			padding-right: 0;
		}
		hr {
			padding-left : 0;
			padding-right: 0;
			&::after {
				// left: 0;
				left     : 50%;
				transform: translate(-50%);
			}
		}
		img {
			width: 100%;
		}
		figcaption {
			margin-left: 0;
		}
		figcaption p {
			margin-left: auto;
		}
	}
	@media screen and (max-width: 640px) {
		&::after {
			width: 432px;
		}
		p,
		ul {
			width: 24em;
		}
		ul li {
			margin-left: 0;
		}
		blockquote p {
			width        : 20em;
			padding-left : 2em;
			padding-right: 2em;
		}
		h3 {
			width: 432px;
		}
		hr {
			width: 432px;
			&::after {
				left     : 50%;
				transform: translate(-50%);
			}
		}
	}
	@media screen and (max-width: 480px) {
		margin-top : 60px;
		line-height: 28px;

		&::after {
			width     : 352px;
			margin-top: 48px;
			font-size : 28px;
		}
		p,
		ul {
			width: 22em;
		}
		p:not(:lang(zh)) {
			hyphens: auto;
		}
		blockquote + blockquote {
			margin-top: (28px + 16);
		}
		blockquote p {
			width        : 20em;
			padding-left : 1em;
			padding-right: 1em;
		}
		h3 {
			width    : 352px;
			font-size: 18px;
		}
		hr {
			width    : 352px;
			font-size: 20px;
		}
		code {
			font-size: 15px;
		}
	}
	@media screen and (max-width: 400px) {
		&::after {
			width: 320px;
		}
		p,
		ul {
			width: 20em;
		}
		blockquote p {
			width: 18em;
		}
		h3 {
			width: 320px;
		}
		hr {
			width: 320px;
		}
	}
	@media screen and (max-width: 350px) {
		&::after {
			width: 288px;
		}
		p,
		ul {
			width: 18em;
		}
		blockquote p {
			width: 16em;
		}
		h3 {
			width: 288px;
		}
		hr {
			width: 288px;
		}
	}
}

.article-footnote {
	position    : absolute;
	top         : -999px;
	right       : -999px;
	height      : 0;
	color       : @text-dark;
	font-family : @font-hei-body;
	font-size   : 12px;
	font-weight : 400;
	line-height : 18px;

	li {
		visibility: visible;
		position  : absolute;
		right     : 0;
		width     : 24em;
		text-align: justify;
	}
	p a {
		text-decoration      : underline;
		text-decoration-style: dotted;
	}
	a.fn-mark {
		position   : absolute;
		top        : 0;
		left       : -32px;
		width      : 24px;
		text-align : right;
		
		sup {
			.font-asterisk();
			top: -6px;
		}
	}
	
	@media screen and (max-width: 896px) {
		li {
			--arrow-left    : 0px;
			visibility      : hidden;
			position        : absolute;
			padding         : 16px;
			border-radius   : 4px;
			background-color: @bg-main;
			box-shadow      :
				0 1px 2px 0 fadeout(black, 88%),
				0 2px 4px 0 fadeout(black, 76%);

			&::before,
			&::after {
				content         : "";
				position        : absolute;
				// left            : var(--arrow-left);
				display         : none;
				width           : 8px;
				height          : 8px;
				background-color: @bg-main;
				top             : -4px;
				transform       : rotateZ(45deg);
			}
			&::before {
				z-index: -@zIndex-1;
				opacity: 0.8;
				box-shadow:
					0   0   2px 0 fadeout(black, 88%),
					1px 1px 4px 0 fadeout(black, 76%);
			}
			
			&.is-active {
				visibility: visible;
			}
			
			@supports (left: var(--arrow-left)) {
				&::before,
				&::after {
					left   : var(--arrow-left);
					display: block;
				}
			}
		}
		a.fn-mark {
			display: none;
		}
	}
	@media screen and (max-width: 350px) {
		li {
			width: 20em;
		}
	}
}

.article-endnote {
	width        : (576px - 128);
	padding-left : (80px + 72 + 128 - 14);
	padding-right: (288px + 72 + 14);
	margin-top   : 60px;
	margin-left  : auto;
	margin-right : auto;
	color        : @text-light;
	font-family  : @font-hei-body;
	font-size    : 14px;
	line-height  : 22px;

	li {
		position  : relative;
		margin-top: 22px;
		text-align: justify;

		&::before {
			// content   : "※";
			content   : "•";
			position  : absolute;
			left      : -1.5em;
			top       : -2px;
			width     : 1em;
			text-align: right;
		}
	}
	li:not(:lang(zh)) {
		font-family: @font-sans-body;
		line-height: 20px;
		text-align : left;
		hyphens    : none;
	}
	li a {
		text-decoration      : underline;
		text-decoration-style: dotted;
	}
	
	@media screen and (max-width: 896px) {
		padding-left : 0;
		padding-right: 0;
	}
	@media screen and (max-width: 640px) {
		width: 392px;
	}
	@media screen and (max-width: 480px) {
		width: 336px;
		
		li:not(:lang(zh)) {
			hyphens: auto;
		}
	}
	@media screen and (max-width: 400px) {
		width: 280px;
	}
	// @media screen and (max-width: 350px) {
	// 	width: 252px;
	// }
}
