extends ../../src/pug/essay/index

block var
	- const assetsPath = "../"
	- const pageTitl   = "机械复制时代的抒情诗人" + ""
	- const bodyClass  = "essay"
	- const bodyClassModifier = ""

block mainBody
	include article

