article.article(lang="zh-Hans")
	header.article-header
		h1 传统/<span lang="en">Tradition</span>
		aside
			time(datetime="2012-09-27") 2012-09-27
	
	section.article-body
		blockquote(lang="en")
			p Tradition is a matter of much wider significance. It cannot be inherited and if you want it you must obtain it by great labor. It involves, in the first place, the historical sense, which we may call nearly indispensable to anyone who  would continue to be a poet beyond his twenty-fifth year; and the historical sense involves perception, not only of the pastness of the past, but of its presence; the historical sense compels a man to write merely with his own generation in his bone, but with a feeling that the whole of the literature of Europe from Homer and within it the whole of the literature of his own country has a simultaneous existence and composes a simultaneous order. This historical sense, which is a sense of the timeless as well as of the temporal and of the timeless and temporal together, is what makes a writer traditional and it is at the same time what makes a writer most acutely conscious of his place in time, of his own contemporaneity.<a id="fn-mark-1" class="fn-mark" href="#fn-note-1"><sup>*</sup></a>
		p 传统有着更广泛的重要性。传统无法被继承，如果你想拥有它，就必须付出很大的努力。传统首先就涉及（包含）所谓的历史感，这或许是任何一个超过25岁还想继续做诗人的人都不可或缺的东西。而历史感涉及的领悟力，不只是于往昔的过去性之上，更是于往昔的当下性（在场性）之上。历史感迫使你在自己的骨头中只书写自己的世代，却又伴随着自荷马以来的整个欧洲文学的情感；在这情感之中，你自己国家的所有文学并行地存在着，并且也以并行的次序构成。这种历史感，是一种永恒之感，也是一种现世之感，也是一种永恒和现世并存之感；这种历史感让写作者变得（回归）传统，同时，也让写作者更加敏锐地意识到自己在时代中所处的位置、以及自己的当代性。
	
	footer.article-footer
		ol.article-footnote
			li(id="fn-note-1")
				a(class="fn-mark" href="#fn-mark-1") <sup>*</sup>
				p(lang="en") T. S. Eliot, “Tradition and the Individual Talent”, <cite>The Sacred Wood</cite>, 1921. <a class="url" href="https://www.bartleby.com/200/sw4.html">www.bartleby.com/200/sw4.html</a>
