extends ../../src/pug/essay/index

block var
	- const assetsPath = "../"
	- const pageTitl   = "杜尚在一九一二年与何种预先假定决裂？" + ""
	- const bodyClass  = "essay"
	- const bodyClassModifier = ""

block mainBody
	include article

