article.article(lang="zh-Hans")
	header.article-header
		h1 今日之引述
		aside
			time(datetime="2020-02-06") 2020-02-06
	
	section.article-body
		p 口传，吟游诗人的古早艺术，在书记技术漫长的成熟过程里日趋衰落。文本史的书写逐渐成为权威引述的方式、社群统治者向往的权力。然而在书法艺术大成的年代，「不立文字」依然有可能成为至上的引述法门——修行者怀揣乡愁，对吟唱式诗史致以崇尚和遐想。
		p 今日的用户进入了（被）生成景观的世界<a id="fn-mark-1" class="fn-mark" href="#fn-note-1"><sup>*</sup></a>，媒体成为文本的底色；文本首先进入图像，其后成为图像——变为景观。再没有未经排版的文本，除了标新立异的先锋版式设计；再没有文本的吟唱技艺，除了作为字幕的文本编辑技术和作为弹幕的文本创作文化——或许还有流行歌曲。
		p 今日的文本难以作为有序编码后的符号组合被引述。对于文字符号转引的坚持，变做一种枯禅——单纯的文字符号，其意义的表达依赖于读者的揣测。被引用的文本须进入图像，成为字幕或弹幕，以一种现代科技制品为媒介的景观形态，然后得以转述。
	
	footer.article-footer
		ol.article-footnote
			li(id="fn-note-1")
				a(class="fn-mark" href="#fn-mark-1") <sup>*</sup>
				p 〈用户被生成景观〉，<a href="../2019-06-14/">2019-06-14</a><br>〈用户生成景观〉，<a href="../2016-03-07/">2016-03-07</a>
