article.article(lang="zh-Hans")
	header.article-header
		h1 把艺术罹患为精神疾病
		aside
			time(datetime="2017-02-03") 2017-02-03
	
	section.article-body
		p 福柯在《精神疾病与心理学》第四章的收尾处，重复了宾斯万格一九三〇年对古希腊哲人的引用：
		blockquote
			p 宾斯万格在谈到疯癫的时候重申了赫拉克利特（Heraclitus）谈到睡眠时说的话：「醒着的人有一个唯一和共同的世界；睡着的人转向了他自己的世界。」
		p 假定认可宾斯万格关于疯癫与睡眠的类比，那么按照克拉里的观察<a id="fn-mark-1" class="fn-mark" href="#fn-note-1"><sup>*</sup></a>，当下睡眠的苏醒，意味着另一种疯癫状态的启动。当然，克拉里可能只是单纯在试图翻转一种古早的思维游戏，但他依然引出了这个有趣的推论。
		p 换个角度，疯癫之人由此获得了一个机会：在睡眠活动中止后的清醒中观察自身的失常。恰如福柯所言，精神病人可以「承认自己的不正常，他至少会给自己的不正常一种分离了他的意识和其他人的世界之间无法缩减的差异的含义」。然而福柯接连道出了一个矛盾：
		blockquote
			p 但是不管病人有多么清醒，他对他的病都没有医生那样的视角；他从来不会以那种思辨的距离去将疾病理解为是一个在他体内发展但没有他参与的客观过程；对疾病的意识是在疾病的内部获得的；它扎根在疾病中，当感知到疾病的时候，它也是在表达疾病。
		p 疾病不是患者的「他者」。之于「疾病」，这个结论真切而无奈；如果之于「艺术」，这似乎恰好是居伊·德波的心之所向<a id="fn-mark-2" class="fn-mark" href="#fn-note-2"><sup>⁑</sup></a>：
		blockquote
			p 反对特定的艺术，它将是每时每刻对待一切可利用元素进行的一种全球性实践。［……］反对单方面的艺术，情境主义文化将是一种对话的艺术，一种互动的艺术。［……］每个人都将成为艺术家，也就是说，他同时是一种参与总体文化创造的不可分割的制作者-消费者，［……］可以这么说，每个人都将成为情境主义者［……］。
		p 可以将德波的文本改写如下：
		blockquote
			p <em>反对特定的疯癫，它将是每时每刻对待一切可利用元素进行的一种病理学式的实践。反对单方面的疯癫，苏醒后的精神病状态将是一种对话的疯癫，一种互动的疯癫。每个人都将成为精神病患者，也就是说，他同时是一种参与总体精神疾病症候的不可分割的定义者-罹患者，可以这么说，每个人都将成为精神分析学家。</em>
		p 或者戏仿福柯——
		blockquote
			p <em>对艺术的意识是在艺术的内部获得的；此种意识扎根在艺术中，当感知艺术的时候，也是在表达艺术。</em>
	
	footer.article-footer
		ol.article-footnote
			li(id="fn-note-1")
				a(class="fn-mark" href="#fn-mark-1") <sup>*</sup>
				p 〈分享特权〉．<a href="../../2016-04-11/">2016-04-11</a>
			li(id="fn-note-2")
				a(class="fn-mark" href="#fn-mark-2") <sup>⁑</sup>
				p 居伊·德波（Guy Debord）．《情境主义宣言》（<cite lang="en"><a href="./ref/situationist-international-manifesto.pdf">‘Situationists’: International Manifesto</a></cite>）．丛峰（译）．泼先生<span lang="en">Pulsasir</span>，2017-02-02．<a class="url" href="https://mp.weixin.qq.com/s/mWzE0CrpkxfruCfEkJiojQ">mp.weixin.qq.com/s/mWzE0CrpkxfruCfEkJiojQ</a>
		
		ul.article-endnote
			li 米歇尔·福柯（Michel Foucault）．<cite lang="zh">精神疾病与心理学</cite>（<cite lang="fr">Maladie mentale et psychologie</cite>, 1962）．王杨（译）．上海译文出版社，2014年．
		
