article.article(lang="zh-Hans")
	header.article-header
		h1 用户被生成景观
		aside
			time(datetime="2019-06-14") 2019-06-14
	
	section.article-body
		p 《娱乐至死》式的针对技术性媒介工具所进行的批评，似乎愈来愈趋于稚拙。当下的媒介资源是高度过剩的，填充媒介的内容生产工具是极低门槛的；即便只倒退二十年，其时也很难想象炮制一份可向公众随意分发的文、影、音或它们交织而成的制品，能够如此轻易。
		p ——我们已然无法通过理解McLuhan的媒体去破译信息。
		p <strong>作为信息破译者的我，总是受制于即将展现在我眼前的、亟待破译的对象。</strong>当我面对着一块手掌大小的信息媒介，我所即将看到的信息链条无法一捋到底。它似乎像是一盒磁条从缺口处被拽出的卡带。我在缺口外小心地读取着磁条上保存着的、经过严密编码的数据，这根数据的链条延绵不断，通向一个幽黑匣子的深处。但它似乎又不像是卡式录音带。我从来不曾确定这个匣子内封存着的全部数据是否真的始终如一，我甚至不知道「全部」是什么、是否有「全部」。我也未曾成功地进行过任何一次倒带回放：这条磁带不具备任何可回溯甚至线性的特征，何等超现实的媒介。破译受制于展现。<strong>不被展现的信息，当然也不会被破译。<a id="fn-mark-1" class="fn-mark" href="#fn-note-1"><sup>*</sup></a></strong>
		p 只需要启动一台不太高端的智能手机，通过一个标准配备的应用商店，获取一个最容易下载到的用户生成内容的app，我们就可以入手这样一个神秘的匣子。我自己，还可以成为某条磁带上数据的编码者。或许不是某条，而正恰就是这一条。
		p ——我以为用户学会了如何生成景观，然而这或许只是用户被生成景观。
	
	footer.article-footer
		ul.article-footnote
			li(id="fn-note-1")
				a(class="fn-mark" href="#fn-mark-1") <sup>*</sup>
				p 「『看』是受制于展现的，不给一个人看什么东西，他就看不到。」（Groys, Unter Verdacht, 2000 / 张芸、刘振英，揣测与媒介，2014）
