article.article(lang="zh-Hans")
	header.article-header
		h1 防沉迷分类学
		aside
			time(datetime="2021-09-01") 2021-09-01
	
	section.article-body
		p 「防沉迷」式的政策设立了一种分级制度。与很多分级制度类似，它的量表是年龄制式的——就这一点而言，它们同样地荒诞。
		p 与很多分级制度不同，某种「防沉迷」规则可以依据某种内容的技术性承载机制为裁判标准——然而就这一点而言，它们依然同样地荒诞——同样把一组原本潜在着含混不清意义的对象，化约为可清晰分类的。
		p 「暴力」在作为分类法的意义上，并不会一种比另一种更正义。
