article.article(lang="zh-Hans")
	header.article-header
		h1 隐私与睡眠
		aside
			time(datetime="2016-01-08") 2016-01-08
	
	section.article-body
		p 隐私权的执行，并非是要从他人那里保护原本专属于自己的什么。隐私是对他者关于自身认知的某种操控。
		blockquote
			p 个人不是自治的或自足的，单个的人是无法理解的，除非把他放在与外在于他的和面对着他的他者的关系之中。［Crary, 2013 / 许多、沈清译，2015］
		p 隐私与睡眠有着一些可供类比的本质。依靠个人来进行隐私的自我保护，就像在野外独自过夜时自己为自己放哨守卫。即便拥有超越常人的生存意志和动物本能，这种自卫能力在现代社会中仍显得脆弱而不堪倚仗。
		p 国家机器接管了护卫的职责。社会制度及专门机构为此种保障力的实施而「24/7」式地运转——这里向Jonathan Crary<a id="fn-mark-1" class="fn-mark" href="#fn-note-1"><sup>*</sup></a>借了一个术语。
		p 然而「24/7」是一种机构化了的睡眠剥夺模式；一种安全保障需求所导出的制度（或偏见下的现实），同时又成为了关于「隐私」的暗示：隐私的安全性同样须以某种机构化的「隐私剥夺」来交换。持续运转的「机器」是两者保护机构的共同隐喻。
	
	footer.article-footer
		ol.article-footnote
			li(id="fn-note-1")
				a(class="fn-mark" href="#fn-mark-1") <sup>*</sup>
				p(lang="en") Jonathan Crary. <cite><a href="https://www.goodreads.com/book/show/16284965-24-7">24/7: Late Capitalism and the Ends of Sleep</a></cite>. Verso: 2013.
