extends ../../src/pug/essay/index

block var
	- const assetsPath = "../"
	- const pageTitl   = "隐私与睡眠" + ""
	- const bodyClass  = "essay"
	- const bodyClassModifier = ""

block mainBody
	include article

